@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 20px;
  background-color: white;
  margin: 0;
}
/* project div styles */
.project {
  width: 20em;
  height: 20em;
}

.project:hover {
  background-color: #888888;
}

.projectColumn {
  font-family: 'Roboto', sans-serif;
  width: 55%;
  margin: auto;
}
.projectColumn h1, .projectColumn h2, .projectColumn h3, .projectColumn h4 {
  text-align: center;
}

.projectColumn hr {
  border: 1px solid grey;
  width: 90%;
}
.projectColumn p {
  font-size: 0.8em;
  font-weight:lighter;
}

/*heading stuff till down there*/
#header {
  background-color: #162854;
  top: 0;
  z-index:1000;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sub {
  display: flex;
  justify-content: space-around;
}
#header h2, #header a {
  margin: 6px;
  color: white;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  position: relative;
}
.selected {
   border-bottom: 3px solid orange;
}
.not:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.not:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*Heading stuff above*/


#content {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  overflow: hidden;
}

#content h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 100px;
}


#left {
  flex-basis: 30%;
}

#right {
  flex-basis: 70%;
  padding: 2%;
}

html, body {
  height: 100%;
  margin: 0
}

/* help from the link to get page to fill screen
https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
*/
#me {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: url("img/background.jpg")center center fixed;
}

#me .row.content {
  flex: 1 1 auto;
}

#me .row.footer {
  flex: 0 1 40px;
}
#me p {
  margin: 2%;
  text-align: center;
}
.pictures {
  width: 75%;
  height: 75%;
  margin: 10%;
  border-radius: 50%;
  border: black solid 5px;
}
#topHome {
  flex: 0 1 auto;
  width: 70%;
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

#topHome h2 {
  font-size: 65px;
  color: #162854;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
strong {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75px;
  color: orange;
  font-weight: bold;
}

#right p {
  color: #162854;

}
hr {
  width: 80%;
  align-items: center;
  border: 1px solid #162854;
}

#spacer {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
}
.box {
  width: 80%;
  margin: auto;
  text-decoration: none;
}

.box h1 {
  text-align: center;
}

#profile > div {
  margin-left: 5px;
}

div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#columns {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: top;
}

#columns > div {
  width: 400px;
}

main {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: flex-end;
}

#section01 {
  background-color: pink;
}
#section01 a {
  padding-top: 60px;
}
#section01 a span {
  position: absolute;
  top: 100;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: 0px;
  border-left: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.project {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #888888;
  box-shadow: 5px 5px #888888;
  margin: 10px;
  
}
a {
  text-decoration: none;
}
.project p, .project h1{
  text-align: center;
  text-decoration: none;
  color: black;
}

.project img {
  padding: 0px;
  width: 100%;
  max-height: 200px;
}

.project:hover {
  border-width: .2em;
  border-color: grey;
}